main {
    .container {
        margin-top: 120px;
        .cards-wrapper {
            flex-wrap: wrap;
            width: 100%;

            a {
                color: #C4C4C4;
                text-decoration: none;
            }
            .card {
                position: relative;
                overflow: hidden;
                margin: 30px 5px;
                width: 24.45%;
                height: 290px;
                border: 1px solid #C4C4C4;
                cursor: pointer;
                &:hover img{
                    scale: 1.2;
                    transition: all 2s;
                }
                &:hover .card-info {
                    background-color: #C4C4C4;
                    color: black;
                }
                &:hover a {
                    color: black;
                }


                .left {

                    .card-image {
                        width: 200px;
                    }
                    .card-title {
                        width: 200px;
                        height: 60px;
                        padding: 10px 20px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: black;
                        color: white;
                    }
                }
                .card-info {
                    width: calc(100% - 200px);
                    padding: 10px;
                    overflow: auto;
                    position: relative;
                    &:hover .overlay{
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                    }

                    .overlay {
                        display: none;
                        height: 90px;
                        width: 100%;
                        padding: 10px;
                        background-color: black;
                        .btn-watch {
                            cursor: pointer;
                            margin-top: 20px;
                            &:hover {
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                    .plot {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
